/* styles.css */

body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    color: #41b883;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #35495e;
    font-size: 16px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #41b883;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #32a672;
  }
  
  p.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .register-link {
    color: #41b883;
    text-decoration: none;
  }
  
  .register-link:hover {
    color: #32a672;
  }
  